.navbar {
    overflow: hidden;
    background-color: #333;
    position: center; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-size: 100px;
    font: italic;
    text-align: center;
    margin: 20px 0 0 ;
    padding: 10px 0;
  }

  * {
    box-sizing: border-box;
  }

header{
    text-align: center;
    color: green;
    font-size: 25px;
}
li{
    font-family: 'Lucida Sans';
    font-size: 100px;
    float: inherit;
}

table{
    float: right;
    font-size: 25px;
}
.item-container{
    flex-direction: row;
    float: inline-end;
    font-size: 50px;

}
.item-container1{
    flex-direction: row;
    float: inline-end;
    font-size: 50px;
}

.item-container2{
    flex-direction: row;
    float: inline-end;
    font-size: 50px;
}

.item-container3{
    flex-direction: row;
    float: inline-end;
    font-size: 50px;
}




@media only screen and (max-width: 425px) {
    * {
        box-sizing: border-box;
        font-family: 'Lexend', sans-serif;
    }
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

}

@media only screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
        font-family: 'Lexend', sans-serif;
    }
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

   
  @media only screen and (min-width: 768px) {
    * {
        box-sizing: border-box;
        font-family: 'Lexend', sans-serif;
        color: white;
    }
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}

    

