.navbar {
    overflow: hidden;
    background-color: rgb(187, 59, 97);
    position: center; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-size: 100px;
    font: italic;
    text-align: center;
    margin: 20px 0 0 ;
    padding: 10px 0;
  }

  * {
    box-sizing: border-box;
  }

header{
    text-align: center;
    color: green;
    font-size: 25px;
}
li{
    font-family: 'Lucida Sans';
    font-size: 100px;
    float: inherit;
}

table{
    float: right;
    font-size: 25px;
    grid-column: 3/4;
}

main{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.item-container{
    flex-direction: row;
    float: inline-end;
    font-size: 50px;

}
.item-container1{
    flex-direction: row;
    float: inline-end;
    font-size: 50px;
}

.item-container2{
    flex-direction: row;
    float: inline-end;
    font-size: 50px;
}

.item-container3{
    flex-direction: row;
    float: inline-end;
    font-size: 50px;
}

.item-container3 img,.item-container2 img ,.item-container1 img{
    height: auto;
    width: 100%;
}




@media only screen and (max-width: 425px) {
    * {
        box-sizing: border-box;
        font-family: 'Lexend', sans-serif;
        /* color: crimson; */
    }
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

}

@media only screen and (max-width: 900px) {
    * {
        box-sizing: border-box;
        font-family: 'Lexend', sans-serif;
        /* color: cyan; */
    }
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    li{
        font-size: 35px;
    }

}
  @media only screen and (min-width: 768px) {
    * {
        box-sizing: border-box;
        font-family: 'Lexend', sans-serif;
        /* color: white; */
    }
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}

    

