@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.navbar {
    overflow: hidden;
    background-color: yellow;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding:25px;
    
    
}
.navbar a{
    margin:15px;
    color: darkred;
}
main.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }

* {
    box-sizing: border-box;
  }

  .box-model{
    height:350px;
    width:450px;
    padding:10%;
    margin:25px;
    border:20px;
    border:red;
  }

  .header{
      padding:10px;
      font-size: 35px;
      margin-left: 17%;
      margin-top: 100px;
      font-family: 'Train One', cursive;


}

.drum-img {
    width:50%;
    height:auto;
    margin-left: 20%;
    margin-bottom: 100px;
}


.header2{
    margin-left: 18%;
    font-style: italic;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer{
    margin-left: 35%;
    font-style: italic;
    font-size: 40px;
    margin-top: 15px;
}

article{
    font-size: 25px;
    line-height: 40px;
}
table{
    float: right;
    font-size: 15px;
}
ul{
    float: left;
    font-size: 15px;
}

section{
    position: relative;
    margin-top: 100px;
    float: none;
}